{% extends "base.html" %}

{% block extrahead %}  
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC" rel="stylesheet">
    <script type="text/javascript" src="{{ 'assets/javascripts/head.load.min-1.0.3.js' | url }}"></script>
    <script type="text/javascript">
    head.load([{
        jQ: "https://code.jquery.com/jquery-2.2.4.min.js"
    }], function() {
        head.load([{
            TV: "{{ 'assets/javascripts/extra.js' | url }}"
        }]);
    });
    </script>
{% endblock %}